// Variables de la charte graphique
$color-background: #FFC0ED; // Rose pastel
$color-background2: #EB9FBF; // Rose pastel plus foncé
$color-accent: #F7CAF5;     // Rose clair
$color-primary: #CC265B;    // Rose foncé
$font-family: 'Roboto', sans-serif;